{% extends 'master.html.twig' %}

{% block content %}
    <h1>Welcome to the admin pannel</h1>
    <p>
        In this area you can change:
    </p>
    <ul>
        <li>User settings</li>
        <li>Course settings</li>
        <li>Content settings</li>
    </ul>
    <p>
        You may also check out the mailing functions.
    </p>
{% endblock %}