form {
	line-height: 2;
	max-width: 100%;
}

form table {
	line-height: 1.5;
	width: 100%;
}

fieldset {
	border-width: 1px;
	margin: .5em auto;
	padding: 1em;
}

legend {
	font-weight: bold;
	text-decoration: underline;
}

/* Formating the input methods */
input {
	padding: .2em;
}

input[type="checkbox"]{
	width:auto;
}

textarea {
	padding: .25em;
}

button, .button {
	padding: 0 1em;
	min-width: 5em;
	margin-top: .2em;
	letter-spacing: .5px;
	line-height: 2em;
	text-decoration: none;
}

.button.danger {
	background-color: rgba(255, 0, 0, 1);
	color: white;
}