form {
	line-height: 2;
}

form table {
	line-height: 1.5;
	width: 100%;
}

fieldset {
	border-width: 1px;
	margin: .5em auto;
	padding: 1em;
}

legend {
	font-weight: bold;
	text-decoration: underline;
}

/* Formating the input methods */
input {
	padding: .2em;
}

input[type="checkbox"]{
	width:auto;
}

textarea {
	padding: .25em;
}

button {
	border: 2px solid;
	border-radius: 1em;
	min-width: 5em;
	margin-top: .2em;
	padding: .1em .3em;
}