p#forumDescription {
    padding: 0.2em;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.12);
}

/* Topics and Posts */
#topicArea > a {
    margin-left: 1em;
}

#topicArea ul {
    list-style: none;
    width: 90%;
}

#topicArea ul li {
    padding: .5em;
    display: block;
    border: 1px solid;
    border-bottom: 0;
}

#topicArea ul li:last-child {
    border-bottom: 1px solid;
}

#topicArea ul li h3 {
    text-align: left;
}

#topicArea ul h3 {
    text-align: left;
}