/* Style of the pop-in messages */
#mError, #mSuc, #mWarning {
    position: absolute;
    width: 40%;
    padding: 1%;
    top: 2em;
    left: 26%;
    z-index: 5;
    border-width: 2px;
    border-style: solid;
}

#mError {
    background-color: red;
    border-color: #990000;
}

#mWarning {
    background-color: #CCCC00;
    color: black;
    border-color: #757500;
}

#mSuc {
    background-color: #159330;
    border-color: green;
}