form#mailForm {
	width: 50em;
	max-width: 100%;
	line-height: 1;
	margin: auto;
}
label, label span{
	display: block;
	margin-bottom: .3em;
}

input, select, textarea {
	width: 100%;
}

select[disabled]{
	display: none;
}