table {
    border-collapse: collapse;
    color: black;
    width: 90%;
    margin: 1.2em auto;
    text-align: center;
}

thead {
    font-size: 1.5em;
    text-decoration: underline;
}

td, th {
    border: 1px solid;
}

.firstCol {
    width: 10em;
}

/* Timetable */
#timetable thead {
    text-decoration: none;
    font-weight: bold;
}

#timetable td {
    padding: .5%;
}