/* Formating a form */
input, textarea, select {
	color: white;
	background-color: black;
	border: 1px solid #CCCCCC;
}

input {
	padding: 5px;
}

button {
	color: black;
	background-color: gray;
	border-color: black;
}