{% extends 'master.html.twig' %}

{% block content %}
    <header>
        <span>Sender: {{ resolveName.call(mail, mail.sender) }}</span>
        <div id="mDate">{{ mail.messageAge }}</div>
        <h2>{{ mail.subject }}</h2>
    </header>
    <div id="messageContent">
        <p>{{ mail.content }}</p>
    </div>
    <a href="index.php">Return to overview</a>
{% endblock %}
