{% extends 'master.html.twig' %}

{% block content %}
    <h1>Create a new topic in the "{{ name }}"</h1>
    <a href="readForum.php?forumId={{ id }}">Back to the forum</a>
    <form action="createTopic.php" method="POST">
        <fieldset>
            <legend>Basic information</legend>
            <input type="hidden" name="forumId" value="{{ id }}"/>
            Topic name: <input type="text" name="topicName" maxlength="300" placeholder="Topic Name"/>
            <br/>
            Description: <br/>
            <textarea placeholder="Describe what you want to talk about in this topic." name="description"></textarea>
        </fieldset>
        <fieldset>
            <legend>Usermanagement</legend>
            <!-- todo: implement user management -->
            <p>Not yet implemented</p>
        </fieldset>
        <fieldset>
            <legend>Finalising</legend>
            <button type="submit">Create topic</button>
            <button type="reset">Discard</button>
        </fieldset>
    </form>
{% endblock %}