{% macro generateTableRow(tds) %}
    <tr>
        {% for td in tds %}
            <td>{{ td|raw }}</td>
        {% endfor %}
    </tr>
{% endmacro %}

{{ htmlGenerator.outputHeader(true) }}

<body onload="show()">
    <!--The content -->
    <div id="content">
        <div id="mainContent">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
        <p>
            You are here: 
            <a href="\Schulverwaltung/loggedIn/index.php">Home</a>
            {{ htmlGenerator.generateBreadcrumb()|join(' > ') }}
        </p>
        </footer>
    </div>
</body>
</html>